* text=auto

.gitattributes text eol=lf
.gitignore text eol=lf
.env.example text eol=lf
.github/CODEOWNERS text eol=lf
LICENSE text eol=lf

*.rs text eol=lf
*.toml text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.json text eol=lf
*.lock text eol=lf
*.ignore text eol=lf
*.ps1 text eol=crlf

*.exe binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.zip binary
